button{
  cursor: pointer;
  border: none;
}
.hamburger {
  padding: 0;
  transform-origin: center;
  transform: scale(.7);
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #010101;
}

.hamburger.is-active {

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: #010101;
  }
}

.toggle-menu {
  @include from(l) {
    display: none;
  }
}
