.main-footer{
  background-color: #fff;
  height: var(--footer-height);
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  @include from(lg){
    padding-top: get-vw(80px);
  }

  &__container{
    font-size: .9em;
    line-height: 1;
    letter-spacing: 1px;
    padding-left: 1em;
    padding-right: 1em;
    @include from(lg){
      font-size: get-vh(20px);
    }
    img{
      width: 30%;
      margin: 0 auto 1em;

      @include from(lg){
        margin: 0 auto get-vw(24px);
        width: get-vw(165px);
      }
    }
    // p{
    //   font-size: get-vw(20px) !important;
    // }
  }
  &__menu-container{
    display: flex;
    margin-top: auto;
    flex-direction: column;
    font-size: .9em;
    letter-spacing: 1px;
    @include from(lg){
      flex-direction: initial;
      justify-content: space-between;
    }
    ul{
      display: flex;
      justify-content: center;
      margin-bottom: .8em;
      padding-left: 2em;
      @include from(lg){
        padding-left: get-vw(100px);
        padding-right: get-vw(100px);

        font-size: get-vw(20px);
      }
      li{
        margin-right: 1em;
      }
      &:last-child{
        margin-bottom: 0;
        a{
          text-align: center;
          display: block;
        }
        li:last-child{
          margin-right: 0;
        }
      }
      &:first-child{
        a{
          position: relative;
          // background-color: lime;
          &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 0;
            bottom: -2px;
          }
        }
      }
      &:last-child{
        letter-spacing: 2px;
        li{
          @include from(lg){
            margin-right: get-vw(50px);
          }
        }
      }
    }
  }
}
