.main-header{
  background-color: #fff;
  height: var(--header-height);
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include from(lg){
    padding: 0 get-vw(66px);
  }
  .main-logo{
    height: 30.72%;
    width: auto;
    @include from(lg){
      height: 20.72%;
    }
  }
}
.main-menu{
  position: absolute;
  z-index: 500;
  top: var(--header-height);
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
  background: #fff;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s linear;
  a{
    display: block;
  }
  // transition: all ;
  &.is-active{
    max-height: 15em;
  }
  @include from(lg){
    position: static;
    padding-left: 0;
    background: transparent;
    width: auto;
    overflow: unset;
    max-height: unset;
    display: flex;
    padding: 0;
    li{
      font-size: 20px;
    }
    a{
      line-height: 3em;
      padding: 0 get-vw(30px);
      display: block;
      // line-height: 1;
    }
  }
  li{
    line-height: 3em;
    @include from(l){
      line-height: 3em;
    }
  }
}
