.modal-age{
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000,.85);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000000;
  &__container{
    width: 80%;
    height: auto;
    max-width: 800px;
    background-color: #fff;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
  }
  img{
    width: 60%;
    margin: 0 auto 2em;
    @include from(lg){
      margin: 0 auto get-vw(50px);
      max-width: get-vw(200px);
    }
  }
  p{
    margin: 0 auto;
    margin-bottom: 2rem !important;
    font-size: .8em !important;
    text-align: center;
    line-height: 1 !important;
    // letter-spacing: 0px !important;
    @include from(lg){
      font-size: get-vw(20px) !important;
      margin: 0 auto get-vw(50px) !important;
      padding-right: 1em !important;
      padding-left: 1em !important;
    }
  }
  button{
    background-color: transparent;
    line-height: 2em;
    padding: 0 2em;
    border: 1px solid #000;
    text-transform: uppercase;
    transition: background .3s;
    font-size: .8em;
    color: #000;
    font-weight: 700;
    @include from(lg){
      font-size: get-vw(20px) !important;;
    }
    &:hover{
      background-color: #efefef;
    }
  }
}
