.Buy{
  width: 80%;
  margin: 0 auto;
  padding-top: 4em;
  @include from(lg){
    padding-top: get-vh(95px);
    width: get-vw(1678px);
  }
  > .Separator{
    @include from(lg){
      height: get-vh(326px) !important;//326px
      // padding-bottom: 30%;
    }
  }
  .Way{
    // text-align: center;
    &__grid{
      align-items: center;
      @include from(lg){
        // padding-top: get-vw(60px);;
        // margin-top: get-vw(354px);
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        display: grid;
        grid-template-columns: 30vw 1fr;
        // align-items: center;
      }
    }
    h2{
      text-align: center;
      @include from(lg){
        text-align: left;
      }
    }
    p{
      margin-bottom: 1em;
      &:last-child{
        margin-bottom: 0;
      }
    }
    img{
      margin-bottom: 2em;
      @include from(lg){
        margin-bottom: 0;
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        margin: 0;
      }
    }
    &__text{
      padding-left: get-vw(150px);
      p{
        margin-bottom: 1em;
        @include from(lg){
          margin-bottom: get-vw(50px) ;
          padding-right: get-vw(100px);
        }
        &::last-child{
          margin-bottom: 0;
        }
      }
      @include from(lg){
        h2{
          font-size: get-vw(70px);
          padding-right: 25%;
          margin-bottom: get-vw(60px);
        }
        p{
          font-size: get-vw(40px);
          line-height: 1.1;
        }
      }
      @include to(400px){
        h2{
          font-size: 1.3em;
        }
        p{
          font-size: 1em;
          text-align: center;
        }
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        p{
          font-size: 1em;
        }
      }
    }
  }
}
.Buy + .Banner{
  @include from(lg){
    margin-top: get-vw(250px);
  }
}
