.Catalogue{
  // padding-top: 3em !important;
  &__logo{
    margin: 0 auto 50px;
    width: 70%;
    max-width: 400px;
    @include from(lg){
      margin-bottom: get-vh(0px);
    }
    @media screen and (min-width:1400px) {
      margin-bottom: get-vh(70px);

    }
  }
  @media screen and (min-width:1024px) {
    padding-bottom: get-vw(0px) !important;
    padding-top: get-vh(100px) !important;
  }
  @media screen and (min-width:1400px) {
    padding-bottom: get-vw(100px) !important;

  }
}
// .stf__parent{
//   // max-width: 1200px !important;
//   // width: 90% !important;
//   // transform: scale(1.1) translateY(5%);
//   background-color: #fff;
//   margin: 0 auto;
//   @include from(lg){
//     max-width: 1500px !important;
//     background-color: lime;
//   //   max-height: unset !important;
//   //   width: 90% !important;
//   //   max-width: unset !important;
//   }
// }
.demo-book{
  cursor: pointer;
  margin: 0 auto;
  @media screen and (min-width:1024px) {
    transform-origin: center;
    transform: scale(.75) translateY(-5%) !important;
  }
  @media screen and (min-width:1600px) {
    transform-origin: center;
    transform: scale(.9) !important;
  }
}

.buttonsBook{
  transform: translateY(1em);
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1em;
  margin-left: .25em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  // display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-color: aqua;
  @include from(lg){
    transform: translateY(-300%);
    grid-template-columns: repeat(4,1fr);
    margin-top: get-vw(50px);
  }
  @media screen and (min-width:1400px) {
    transform: translateY(0);
  }
  button, .ext-link{
    display: block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.1;
    font-size: 14px;
    // padding-left: 1em ;
    // padding-right: 1em;
    background-color: #666;
    text-align: center;
    color: #fff;
    &:last-child{
      margin-right: 0;
    }
    @include from(lg){
      font-size: get-vw(18px);
      line-height: 2.5em;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1.5em;
        padding-right: 1.5em;
    }
  }
}
