.Contact{
  background: url('/img/watermark.svg') left bottom / 80% no-repeat,;
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding-bottom: 3em;
  @include from(lg){
    background-size: get-vw(906px);
  }
  @include from(lg) {

  }

  &__wrapper{
    padding: 2em;
    padding-top: 4em;
    text-align: center;
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    @include from(lg) {
      padding-top: get-vh(95px);
      width: get-vw(1578px);
      display: grid;
      grid-template-columns: 1fr get-vw(737px);
      text-align: left;
      padding-top: get-vh(95px);
      height: get-vh(1435px);
    }
  }
  &__text{
    margin-bottom: 2em;
    @include from(lg){
      margin-bottom: 0;
      padding-right: get-vw(10px);
      padding-top: get-vh(50px);
      // background-color: #666;
    }
    h2{
      font-size: 25px ;
      @include from(lg){
        font-size: get-vh(70px);
        margin-bottom: get-vh(50px);
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: 1.5em;
      }
    }
    p{
      font-size: 20px;
      @include from(lg){
        font-size: get-vh(40px);
        padding-right: 10vw;
        line-height: 1.1;
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: 1em;
        padding: 0 1em;
      }
    }
  }

  &__form{
    padding: 2.5em 1.5em;
    // box-shadow: 5px 5px 25px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 15px rgba(#000,.25);
    background-color: #fff;

    @include from(lg){
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      // padding: 0 get-vw(96px);
    }
    @media screen and (max-width: 678px) and (orientation: landscape) {
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
.form{
  @include from(lg){
    // box-shadow: 5px 5px 25px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 15px rgba(#000,.25);
    // box-shadow: 5px 5px rgba(#000..25);
    width: 100%;
    height: get-vh(937px);
    background: #fff;
    // background-color: #fff;
    // padding: 5em;
    padding: 0 get-vw(96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(get-vw(70px));
  }
  .input-group{
    $bdc: rgba(#000,.2);
    font-size: 1.2em;
    border-bottom: 1px solid $bdc;
    margin-bottom: 1em;
    @include from(lg){
      margin-bottom: get-vh(50px);
    }
    &.textarea-group{
      border: 1px solid $bdc;

    }
    input, textarea{
      line-height: 2em;
      padding-left: .5em;
      background-color:transparent;
      border: none;
      font-size: 16px;
      @include from(lg){
        font-size: get-vh(20px);
        // line-height: get-vh(62px);
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: .9em;
      }
    }
    textarea{
      height: 25vh;
      line-height: 1.2;
      padding-top: .5em;
      @include from(lg){
        height: get-vh(302px);
      }
    }
  }
  button{
    margin: 0 auto;
    background: #666;
    text-transform: uppercase;
    width: 80%;
    line-height: 2.5em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    transition: background .3s;
    &:hover{
      background: darken(#666,10);
    }
    &.loading{
      padding-bottom: .55em;
      padding-top: .55em;
      @include from(lg){
        padding-bottom: 1em;
        padding-top: 1em;

      }
    }
    img{
      width: 1.5em;
      margin: 0 auto;
    }
    @include from(lg){
      line-height: get-vh(88px);
      font-size: get-vw(25px);
    }
    @media screen and (max-width: 678px) and (orientation: landscape) {
      font-size: .9em;
    }
  }
}
