// .Home{
//   .video{

//   }
// }
.Leyend{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 180px;
  font-family: 'abhaya_libresemibold';
  p{
    margin-top: 1em;
    line-height: 1;
    padding: 0 1em;
    @include from(lg){
      margin-top: get-vh(75px);
      font-size: get-vw(40px) !important;
      letter-spacing: 3px;
    }
    @include to(400px) {
      font-size: 1em;
    }
  }
  img{
    width: 50px;
  }
  @include from(lg){
    height: get-vh(478px);
    img{
      width: get-vw(100px);
    }
    p{
      font-size: get-vw(30px);
    }
  }
}
.Born{
  height: auto;
  background-color: #fff;
  width: 80%;
  max-width: get-vw(1678px);
  margin: 0 auto;
  @include from(l){
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__container{
    @include from(lg){
      height: get-vh(700px);

    }
    @media screen and (max-width: 678px) and (orientation: landscape) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 20px;
      align-items: center;
      // max-height: 20px;
      // overflow: hidden;
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-align: center;
    @include from(lg){
      text-align: left;
      padding-left: get-vw(170px);
      padding-right: get-vw(170px);
      padding-top: unset;
      padding-bottom: unset;
    }
    h2{
      font-size: 30px;
      margin-bottom: 10%;
      // font-family: 'work_sansmedium';

      @include from(lg){
        font-size: get-vw(58px);
      }
      @include from(xl){
        font-size: get-vw(55px) !important;
      }
      @include to(400px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 570px) and (orientation: landscape) {
        font-size: 1.3em;
      }
      // @include from(1600px){
      //   font-size: 1em !important;
      //   background: red;
      // }
    }
    p{
      font-size: 25px;
      // line-height: 1.2 !important;
      @include from(lg){
        font-size: get-vw(32px) !important;
      }
      @include to(400px){
        font-size: 1em;
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: 1em;
      }
    }
  }
}
.Family{
  margin-bottom: 0;
  &__container{
    width: 80%;
    max-width: get-vw(1678px);
    margin: 0 auto;
    align-items: center;
  }
  &__text{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0em;
    padding-bottom: 1.5em;
    @include from(lg) {
      text-align: left;
      padding-left: 0;
      padding-right: get-vw(230px);
      padding-top: unset;
      padding-bottom: unset;
    }
    h2 {
      font-size: 1.5em;
      line-height: 1.2 !important;
      margin-bottom: 10%;

      @include from(lg) {
        font-size: get-vw(70px);
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: 1.5em;
        margin-bottom: 1em;
      }
    }
    p {
      font-size: 1em;
      // line-height: 1.2 !important;
      margin-bottom: .5em;
      &:last-child{
        margin-bottom: 0;
      }

      @include from(lg) {
        font-size: get-vw(40px);
      }
      @include to(400px) {
        font-size: 1.1em;
      }
    }
    @include from(lg){
      text-align: left;
    }
  }
  &__products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    @include from(lg){
      grid-row-gap: get-vh(70px);
      grid-column-gap: get-vh(50px);
    }
    @media screen and (max-width: 678px) and (orientation: landscape) {
      grid-template-columns: repeat(4, 1fr);
    }
    figcaption{
      padding: .5em;
      line-height: 1.2;
      font-size: 18px;
      letter-spacing: 1px;
      span{
        font-family: 'work_sansmedium';
      }
      @include from(lg){
        font-size: get-vw(25px);
        padding-top: get-vw(25px);
        padding-bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
      }
      @include to(400px){
        font-size: .8em;
      }
      @include to(340px){
        font-size: .7em;
      }
      @media screen and (max-width: 678px) and (orientation: landscape) {
        font-size: .7em;
      }

    }
    .dl{
      // display: grid;
      grid-template-columns: 1fr auto;
    }
  }
}

#video{
  height: auto;
  width: 100%;
}
