h2{
  font-family: 'work_sansmedium';
  line-height: 1  ;
  @include from(lg) {
    font-size: get-vw(150px) t;
    line-height: .9 ;
    letter-spacing: 2px;
  }
}


p{
  line-height: 1.025;
  font-size: 20px;
  @include from(lg){
    font-size: get-vw(35px) !important;
    line-height: 1.1 !important;
    letter-spacing: 1px;
  }
}
